* {
    font-family: "Roboto", sans-serif;
}

.header-container {
    background-color: #1F2937;
}

.hero-container {
    background-color: #1F2937;
}

.quote-container {
    background-color: #E5E7EB;
}

.footer-container {
    background-color: #1F2937;
}

